@font-face {
  font-family: 'Nyght Serif';
  src: url('../assets/fonts/NyghtSerif-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nyght Serif';
  src: url('../assets/fonts/NyghtSerif-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../assets/fonts/Nohemi-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../assets/fonts/Nohemi-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Nohemi', Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #660708;
  background-color: #FFFFFE;
  margin: 0px;
}

main {
  margin: 88px;
}

h1, h2, h3, p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  font-family: 'Nyght Serif';
  font-weight: normal;
  font-size: 96px;
}

h2 {
  font-family: 'Nyght Serif';
  font-weight: normal;
  font-size: 48px;
}

h3 {
  font-family: 'Nohemi';
  font-weight: normal;
  font-size: 32px;
}

.flex-btwn {
  display: flex;
  justify-content: space-between;
}

.my-88 {
  margin: 88px 0px;
}

.text-right {
  text-align: right;
}