.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

#title {
  width: 800px;
  margin-top: 162px;
  margin-bottom: 33px;
}

#img-chef {
  width: 100%;
  margin-top: 70px;
}

#dishes {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dish-container {
  width: 30%;
}

.dish-img {
  width: 100%;
}

.dish-text {
  margin: 24px 0px;
}

@media only screen and (min-device-width: 933px) and (max-width: 1440px) {
  h3 {
    font-size: 1.5em;
  }

  h1 {
    font-size: 3em;
  }

  #title {
    width: 400px;
  }

  #img-chef {
    margin-top: 48px;
  }

  .dish-text {
    font-size: 1em;
    margin: 18px 0px;
  }
}

@media only screen and (min-device-width: 933px) and (max-width: 900px) {
  #dishes {
    flex-direction: column;
  }

  .dish-container {
    width: 100%;
  }

  .dish-text {
    font-size: 1em;
  }
}

@media only screen and (max-device-width: 932px) {
  #dishes {
    flex-direction: column;
  }

  .dish-container {
    width: 100%;
  }
}