.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

#title {
  width: 800px;
  margin-top: 162px;
  margin-bottom: 33px;
}

#img-chef {
  width: 100%;
  margin-top: 70px;
}

.dish-container {
  width: 30%;
}

.dish-img {
  width: 100%;
}

.dish-text {
  margin: 24px 0px;
}